*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: radial-gradient(
  circle at center,
  #1e293b 0%,
  #13203e 45%,
  #020617 100%
);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;

    gap: 1rem;
    background-color: #002455;
    padding: 25px;
    border-radius: 5px;
    width: 50%;
    max-width: 700px;
    box-shadow: 0 10px 30px rgba(15, 23, 42, 0.35);

}

h1{
    font-size: 2rem;
    text-align: center;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.user-input-container{
    display: flex;
    justify-content: space-between;
}

#user-input{
 width: 80%;
 padding: 0.4rem;
 border-radius: 5px;
 border: none;
 height: 35px;
}


#search-btn{
    width: 18%;
    padding: 0.4rem;
     border-radius: 5px;
     border: none;
     background-color: #FF3838;
     color: white;
     font-weight: bold;
}
#search-btn:hover{
    background-color: #050E3C;
}

.circle{
    margin-top: 35px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #FFE08F;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    font-weight: 700;
    background:
  linear-gradient(135deg, #FF8A3D, #FF6C0C),
  conic-gradient(
    #FF6C0C var(--progress-degree, 0%),
    #1e293b 0%
  );

    flex-direction: column;

}

.circle span{
    position: relative;
    z-index: 2;
}
.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.stats-cards{
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card {
    background-color: #FF3838;
    padding: 20px;
    width: 265px;
    max-width: 290px;
    border-radius: 10px;
    font-size: 1rem;
}